@{
    var platId = Request["r"];
}
<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/materialize/css/materialize.min.css")" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/materialize/css/main.min.css")" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/Unit.css")" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="@Url.Content("~/js/jquery-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/materialize/materialize.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.validate.js")"></script>

    <title>CarrierWechat</title> 
</head>
<body>
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper">
                        <a href="#!" class="brand-logo darken-1" style="margin:0;padding:0;line-height: 56px;">
                            保固查询
                        </a>
                    </h1>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <div id="main">
        <div class="wrapper">
            <section id="content">
                <div class="container">
                    <div class="section">
                        <div class="section">
                            <div class="row">
                                <div class="col s12 m12 l6">
                                    <div class="row">
                                        <div class="col s12" id="form1" name="form1">
                                            <div id="tips" class="row">
                                                凭机组序列号查询
                                            </div>
                                            <span style="float:right">
                                                <input type="text" name="UnitNumber" id="UnitNumber" value="" placeholder="请输入机组序列号" onkeyup="value=value.replace(/[\']+/, '') ">
                                                <button class="btn m-bottom-10" id="btnQuery">确定</button>
                                                <button class="btn m-bottom-10" type="button" id="btnReset">重置</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
    $(function () {
        //搜索
        @*$("#btnQuery").click(function () {
            var entity = new Object();
            entity.UnitNumber = $("#UnitNumber").val();
            var searchJson = JSON.stringify(entity);
            if (entity.UnitNumber != "") {
                $.ajax({
                    url: "@Url.Action("GetUnitInformationList", "UnitInfo")@Html.Raw(ViewBag.oQueryString)&UnitNumber=" + entity.UnitNumber,
                    data: {},
                    success: function (data) {
                        if (!data.IsSuccess) {
                            alert("您查找机组不存在");
                            //return false;
                        }
                        else {
                            var checkresult = "@Url.Action("UnitCheckResult", "UnitInfo")@Html.Raw(ViewBag.oQueryString)&UnitNumber=" + data.ExtInfo.UnitNumber;
                            location.href = checkresult;//实现页面的跳转
                        }
                    }
                });
            }
            else
                return false;
        })*@
        //搜索
        $("#btnQuery").click(function () {
            var unitNumber = $.trim($("#UnitNumber").val());
            if (unitNumber != "") {
                $.post("@Url.Action("GetUnitInformationList", "UnitInfo")@Html.Raw(ViewBag.oQueryString)", { UnitNumber: unitNumber }, function (data) {
                    if (!data.IsSuccess) {
                        alert("您查找机组不存在");
                        //return false;
                    }
                    else {
                        var checkresult = "@Url.Action("UnitCheckResult", "UnitInfo")@Html.Raw(ViewBag.oQueryString)&UnitNumber=" + data.ExtInfo.UnitNumber;
                        location.href = checkresult;//实现页面的跳转
                    }
                })
            }
            else {
                $("#UnitNumber").val("");
            }
        });
        //重置
        $("#btnReset").click(function () {
            $("#UnitNumber").val("");
        })
    });
</script>
</body>
</html>
